.auth-button {
    margin-top: 2%;
    margin-right: 33px;
}
/*.mm {*/
/*    background-image: url("../static/technology.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    height: 250px;*/
/*}*/

.sing-in-button {
    margin-left: 5px;
}

.site-logo {
    text-decoration: none !important;
    color: grey;
}

.navbar-body {
    margin-bottom: 5px;
    width: 100% !important;
}

.navlink {
    font-size: 1.15em;
    color: grey;
    text-decoration: none !important;
}

.reg {
    font-size: 0.9em!important;
    text-decoration: none !important;
    cursor: pointer;
}

.input-group-form {
    display: block;
    width: 100%;
    height: 30px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group-checkbox {
    padding: 0 !important;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;

    width: 150px;
    height: 150px;
    border: 2px solid #03b1ce;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.navbar .nav > li > a {
    padding: 10px 10px 10px !important;
}

.navbar-inner {
    padding-right: 0 !important;
}

.admin-post-input {
    width: 60%;
    height: 30px !important;
}

.btn-info {
    background-color: #5bc0de !important;
}

.btn-success {
    background-color: #5cb85c !important;
}

.dropdown-item:active {
    color: #0069d9;
}