.auth-button{
    margin-top: 2%;
}

.sing-in-button{
    margin-left: 5px;
}

.site-logo {
    text-decoration: none!important;
    color: grey;
}

.navbar-body {
    margin-bottom: 5px;
}

.navlink {
    font-size: 1.15em;
}