.message-user-photo {
  width: 40px !important;
  height: 40px !important;
}

.users-container {
  padding: 0 !important;
  border-radius: 5px;
  height: 70vh;
  max-height: 70vh;
}

.messages-container {
  background-color: #eeeeee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 70vh;
  max-height: 70vh;
  width: 100%;
  overflow: hidden !important;

  .messages-list {
    overflow-y: auto;
    min-height: 63vh;
    max-height: 63vh;
  }

  .messages-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .not-chosen-dialog-center {
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 20%;
  }
}

.message-text-area {
  resize: none;
  outline-color: black;
  overflow: hidden;
  margin-top: 1.7rem;
  height: 40px;
  padding-right: 30px;
}

.messages-panel-body {
  padding: 10px;
  min-height: 70vh;
}

.user-item {
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }
}

.message-item {
  padding: 5px 0;
}

.message-user-data {
  margin: 0 0 0 0.8rem;
}

.message-date {
  font-size: 13px;
  margin: 2px 0 0 0.5rem;
  color: #6c757d !important;
}

.username {
  margin: 1.3rem 0 0 0;
}

.send-msg-icon {
  margin-top: 2.2rem;

  &:hover {
    filter: brightness(90%);
  }
}

.smile-icon {
  position: absolute;
  top: 20px;
  right: 60px;
}

.scale-up-center-message {
  animation: scale-up-center-message 0.1s ease-out;
}

@keyframes scale-up-center-message {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.writing-message {
  position: absolute;
  left: 35%;
  bottom: 50px;
  text-align: center;
  font-size: 1.3rem;
  color: #6c757d;
}

