.post-picture {
    width: 200px !important;
    height: 165px !important;
}

.post-title {
    font-size: 1.6rem;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    width: 100%;
}

.well {
    padding-bottom: 2px !important;
}

.post-title a {
    text-decoration: none !important;
    font-size: 1.3rem;
    color: #337ab7;
}

.post-title a:hover {
    color: #4d4d4d;
}

.post {
    margin-bottom: 10px;
    max-width: 91.4%;
}

.post-desc {
    font-size: 1.6rem;
}

.post-desc h2 {
    font-weight: bold;
    font-size: 18px;
}

.post-desc iframe {
    width: 55%!important;
    min-width: 310px!important;
    height: 310px !important;
}

.post-desc img {
    margin-bottom: 20px;
}

.post-desc span, a {
    font-size: 1.05em !important;
    background-color: transparent !important;
}

.post-review-pic {
    width: 500px !important;
    height: 350px !important;
}

.post-author {
    font-size: 1.2em;
}

.post-author-comment {
    font-size: 1.1em;
    padding-left: 0!important;
}

.post-star-text {
    font-size: 1.1em;
    position: relative;
    top: 10px;
}

.comment-author-link {
    text-decoration: none !important;
}

.comment-author-link:hover {
    color: #575464 !important;
}

.comment-icon {
    font-size: 14px !important;
    color: #d73d4c;
}

.comment-count {
    font-size: 1.4rem !important;
}

.comment-icon:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.comment-icon:active {
    color: #8d0f15;
    box-shadow: grey;
}

.pagin-links {
    display: block !important;
    width: max-content !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.comment-input {
    padding: 1.25rem 1.25rem 0 1.25rem !important;
}

.comment-author-photo {
    width: 50px !important;
    height: 50px !important;
}

.text-area {
    max-height: 200px;
    overflow: hidden;
}

.rating {
    float: left;
}

.rating:not(:checked) > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #bcbcbc;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #337ab7;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #337ab7;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #337ab7;
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.post-star {
    font-size: 180%;
    color: #337ab7;
}

.post-star-empty {
    font-size: 180%;
    color: #bcbcbc;
}

.post-edit-picture {
    width: 100% !important;
    height: 100% !important;

    max-width: 300px !important;
    max-height: 280px !important;
}

select, input[type="file"] {
    height: 40px !important;
    *margin-top: 4px;
}

.popup-content {
    background: #f4f4f4;
}

.answer-area {
    width: 82% !important;
    margin-left: 4.6rem !important;
}

.page-item.active .page-link {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: white !important;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff !important;
    color: rgb(19, 38, 62) !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    margin-right: 15px;
    margin-left: 15px;
}

.post-rec {
    height: 150px !important;
}

.recommend-post {
    width: 100% !important;
    height: 70% !important;
}

.recommend-post a {
    text-decoration: none !important;
    color: #337ab7;
}

.recommend-post a:hover {
    color: #4d4d4d;
}

.recommend-post img {
    width: 220px !important;
    height: 150px !important;
}

.mb-7 {
    margin-bottom: 4.5rem !important
}

.post-review-wrapper {
    padding: 2rem 3rem;
    background-color: #f5f5f5;
    max-width: 88.993333%;
    border-radius: 5px;
}