.post-picture {
    width: 170px !important;
    height: 150px !important;
}

.post-title {
    text-decoration: none !important;
    font-size: 1.3em;
    color: grey;
}

.post {
    margin-bottom: 10px;
    max-width: 90%;
}

.post-review-pic {
    width: 500px !important;
    height: 350px !important;
}


/*post-review*/
.post-author {
    font-size: 1.2em;
}

/*post-comment*/
.post-author-comment {
    font-size: 1.1em;
}

.comment-author-link {
    text-decoration: none!important;
}

.comment-icon {
    font-size: 14px !important;
    /*color: grey;*/
    color: #d73d4c;
}

.comment-count {
    font-size: 16px !important;
}

.comment-icon:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.comment-icon:active {
    color: #8d0f15;
    box-shadow: grey;
}

.pagin-links {
    display: block !important;
    width: max-content !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.comment-input {
    padding: 1.25rem 1.25rem 0 1.25rem !important;
}

.comment-author-photo {
    width: 50px!important;
    height: 50px!important;
}

.text-area {
    max-height: 200px;
}

.rating {
    float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position: absolute;
    /*top:-9999px;*/
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    /* padding:0 .1em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    /* line-height:1.2; */
    color: #ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #337ab7;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #337ab7;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #337ab7;
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}






