.post-picture {
    width: 170px!important;
    height: 150px!important;
}

.post-title {
    text-decoration: none!important;
    font-size: 1.3em;
    color: grey;
}

.post {
    margin-bottom: 10px;
}