.post-picture {
    width: 170px!important;
    height: 150px!important;
}

.post-title {
    text-decoration: none!important;
    font-size: 1.3em;
    color: grey;
}

.post {
    margin-bottom: 10px;
    max-width: 90%;
}

.post-review-pic {
    width: 500px!important;
    height: 350px!important;
}


 /*post-review*/
.post-author {
    font-size: 1.2em;
}






