.reg-label {
    font-size: 1.05em;
    font-weight: normal;
}

.required-field:after {
    content: "*";
    color: red;
}

.profile-photo {
    width: 220px !important;
    height: 220px !important;
}

.main-content {
    min-height: 70vh !important;
}

.profile-social-icon {
    margin-top: 42% !important;
}

.profile-edit-icon {
    font-size: 1.5em;
}

.soc-name {
    margin-top: 1.5rem !important;
    font-size: 1.1em;
}

.soc-input {
    margin-top: -1% !important;
}

.MuiInput-underline:before {
    border-bottom: none !important;
}

.MuiInput-underline:after {
    border-bottom: none !important;
}

.MuiFormLabel-root {
    font-size: 1.3rem !important;
}

.date-picker {
    margin-left: 5.3rem !important
}

.MuiSvgIcon-root {
    font-size: 2rem !important;
}

.dropdown-item.active {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item.active:hover {
    color: #212529;
    text-decoration: none;
    background-color: #f8f9fa;
}

.MuiTypography-body2 {
    font-size: 1.4rem !important;
}

.MuiTypography-caption {
    font-size: 1.4rem !important;
}

.MuiTypography-body1 {
    font-size: 1.4rem !important;
}

.MuiButton-root {
    font-size: 1.2rem !important;
}

.MuiTypography-subtitle1 {
    font-size: 1.4rem !important;
}