.reg-label {
  margin-left: -13px !important;
  font-size: 1.05em;
  font-weight: normal;
}

.required-field:after {
  content: "*";
  color: red;
}

.profile-photo {
  width: 220px !important;
  height: 220px !important;
}

.main-content {
  min-height: 80vh !important;
}

.profile-edit-icon {
  font-size: 1.5em !important;
}

.soc-name {
  margin-top: 1.5rem !important;
  font-size: 1.1em;
}

.soc-date-name {
  margin-top: 2rem !important;
  font-size: 1.1em;
}

.soc-input {
  margin-top: -1% !important;
}

.section {
  background-color: #ececec;
  padding: 10px;
  border-radius: 5px;
}

.section-title {
  font-size: 1.3em;
  width: 100% !important;
}

.validate-text {
  font-size: 1.1rem;
}

.send-msg-btn {
  margin-left: 16rem !important;
  padding: 0 5px !important;
  height: 30px !important;
  background-color: rgba(2, 155, 224, 0.97) !important;

  &:hover {
    background-color: rgba(4, 126, 179, 0.97) !important;
  }
}

.profile-edit-wrapper {
  max-width: 91.993333%!important;
  padding: 0!important;
}