.reg-label {
    font-size: 1.05em;
    font-weight: normal;
}

.required-field:after {
    content: "*";
    color: red;
}

.profile-photo {
    width: 220px!important;
    height: 220px!important;
}